body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center; 
}

.about-planets-section {
    background-image: url('solar_system.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    height: 560px;
}

.about-planets-section h1 {
    font-size: 55px;
    text-align: left;
    padding-top: 230px;
}

.about-planets-section p {
    text-align: left;
    padding-top: 30px
}

.large-font-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.large-font-section .number {
    font-size: 70px;
    font-weight: bold;
    color: lightblue;
}

.large-font-section .text {
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
    font-weight: normal;
}

.large-font-section .spacer {
    width: 50px;
}

.section-title {
    text-align: center;
    font-size: 40px; 
    font-weight: bold; 
    margin: 50px 0; 
}

.planet-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    gap: 20px;
}

.planet {
    width: 28%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

.planet:hover {
    transform: scale(1.05);
}

.planet img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
}

.planet h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.planet p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.explore-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.explore-link:hover {
    color: #0056b3;
}

.explore-link i {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .planet {
        width: 45%;
    }

    .large-font-section .number {
        font-size: 50px;
    }

    .large-font-section .text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .planet {
        width: 100%;
    }

    .large-font-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .large-font-section .spacer {
        display: none;
    }
}
